<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLKH_ThayCao.Properties.Settings.QLLH_ThayCaoConnectionString"
            connectionString="Data Source=DESKTOP-RQ05FGN;Initial Catalog=QLLH_ThayCao;Persist Security Info=True;User ID=hieulx;Password=hieulx"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>